{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<section class="recent">
    <div class="container">

        <div class="section_header">
            <div class="section_title">Recent Articles</div>
        </div>

        <div class="section_body">
            
            <div class="articles_list">

                {{#foreach posts}}
                    
                    <div class="article">
                        <a href="{{url}}">
                            <div class="title">
                                {{title}}
                            </div>
                        </a>
                    </div>

                {{/foreach}}

            </div>

            {{!-- <a href="#" class="load_more_articles btn btn-light">Load More...</a> --}}

        </div>
        
    </div>
</section>